<!-- Hero Section -->
<section id="home" class="hero">
    <div id="particles-js" class="particles-container"></div>
    <div class="container">
        <div class="hero-content">
            <h1 class="animate-text">Hello, I'm <span class="highlight">Yuechen Zhu</span></h1>
            <h2 class="subtitle animate-text-delay">I am a <span id="rotating-text"></span></h2>
            <p class="hero-description animate-text-delay-2">
                Here, you can check out what I'm working on. I try my best to create things with ❤!
            </p>
            <div class="hero-buttons">
                <a href="#projects" class="btn primary-btn">View Projects</a>
                <button id="contactMeBtn" class="btn primary-btn" type="button">Contact Me</button>
            </div>
            <div class="social-icons animate-text-delay-4">
                <a href="https://www.linkedin.com/in/zhu-yuechen-1a603435/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/yuechen2001" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <div class="scroll-indicator" id = "scroll-indicator">
            <div class="mouse"></div>
            <p>Scroll Down</p>
        </div>
    </div>
</section>
